/* *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5rem;
    
}
.header{
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}
.inputtag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputtag>input{
    width: 15rem;
    height: 2rem;
}
.inputtag>input::placeholder{
    color: blueviolet;
    padding-left: 10px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.inputtag>input, .btn{
    padding: 6px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 3px;
}
.inputtag>input:focus{
    outline: none;
}
.btn{
    background: transparent;
    padding: 6px 15px;
    cursor: pointer;
    background: rgb(54, 54, 253);
    color: white;
}
.btn:focus{
    outline: none;
}
.para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 600;
    color: white; 
    padding: 5px 10px;
}

.todolistcontainer{
    height: 100vh;
    max-height: 30rem;
    width: 60vh;
    max-width: 90rem;
    background: rgb(243, 241, 241);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(152, 152, 152);
}
.list{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 30px;
    background: black;
    border-radius: 6px;
}
.delete{
    padding: 7px 15px;
    border-radius: 6px;
    background: rgb(252, 251, 251);
} */